# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash log files
crash.log

# Ignore editor specific files
*.swp
*.bak
*.backup
*.tmp
*.temp
